body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background: #F5F7FA;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-contenet {
    margin-left: 88px; 
    }

h1 {
    width: 438px;
    height: 51px;
    left: 498px;
    top: 178px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;

    color: #000000;
}

.About-my-self {
    width: 450px;
    height: 230px;
    left: 498px;
    top: 142px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 8px;
}

.My-projects, 
.my-works, 
.my-education {
    margin-bottom: 45px; 
    margin-top: 45px;
}


.project-list {
    padding: 0;
    margin-left: 15px;
}

.My-projects,
.My-projects-link {
    width: 650px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* .My-projects-link {
    margin-left: 10px;
} */

.My-projects li::marker {
    font-weight: bold;
    color: #000000;
    
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 12px;
}

.work-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    margin-left: 15px;
    width: 550px;
}

.sub-work-list {
    padding: 0;
    margin-left: 15px;
}

.sub-work-list li::marker {
    font-weight: bold;
    content: '- ';
    color: #000000;
}

.organizatiob {
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;

}

.line {
    color: #000;
}



/* sidebar */
.sidebar {
    padding-top: 40px;
    width: 370px;
    background-color: #1E2939;
    color: #FFFFFF;
}

.contact {
    margin-top: 51px;
    margin-left: 40px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.list-TechSkills li::marker,
.list-SoftSkills li::marker {
    color: #FB6D3A;
    font-size: 1.5em;
}

.list-TechSkills,
.list-SoftSkills {
    padding: 0;
    margin-left: 25px;
    /* font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF; */
}

.TechSkills,
.SoftSkills {
    margin-top: 47px;
    margin-left: 40px;
    padding: 0;
}

